<div class="englobador">
	<div id="barrita">
	</div>
<div class="cuerpo">
<h1>Contacto</h1>
<p>Ayudame a mejorar con tus comentarios.</p>

<br/>

<p>Escríbeme a usuario@portafolio.com para contactarme, o para cualquier solicitud de servicios.</p>
</div>
</div>


<div class="englobador">
	
	<div id="barrita">
	</div>
	
	
<div id="footer">
<%= render "/compartido/ultimas_noticias"%>
</div>
</div>
