<div class="englobador">
	<div id="barrita">
	</div>
<div class="cuerpo">
	
	
	
	
	
<h1>Inicio</h1>
<p>Portafolio personal.</p>
<p>Portafolio te ofrece un espacio en la red para poder publicar información acerca de tí, y de tu experiencia laboral, así como tu formación profesional, con la finalidad de establecer contactos que impulsen tu desarrollo profesional.</p>
<p>Portafolio es una herramienta intuitiva, sencilla de usar, y con grandes posibilidades de personalización, así como con integración con las más grandes redes sociales, para que puedas llegar a los ojos de miles de clientes potenciales alrededor de todo el mundo.
</div>
</div>



<div class="englobador">
	
	<div id="barrita">
	</div>
	
<div id="footer">
<%= render "/compartido/ultimas_noticias"%>
</div>
</div>

