<div class="englobador">
	<div id="barrita">
	</div>
<div class="cuerpo">

<h1>Acerca de mí</h1>

<%= image_tag("perfil.jpg",:height => "240px",:width => "180px")%>

<p>Soy un Diseñador Digital egresado de la Universidad Iberoamericana León, en Guanajuato.</p>
<p>Actualmente me dedico al diseño y programación de aplicaciónes de escritorio, web, y móviles para distintos dispositivos.</p>
<p>He colaborado con proyectos multimedia.</p>



</div>
</div>

<div class="englobador">
	<div id="barrita">
	</div>
<div id="footer">
<%= render "/compartido/ultimas_noticias"%>
</div>
</div>
